#call-log-tab-top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-log-sub-section-header{
    
  
font-size: 15px  !important;
font-weight: bold !important;
margin-bottom: 15px !important;
}
.call-log-summary{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.call-log-summary-box1{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;
    border-bottom: 2px solid #00b83e;
    width: 180px;
    height: 100px;
    display: flex ;
    flex-direction: column ;
    align-items: center;
    justify-content: center;

}
.call-log-summary-box2{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;
 
    border-bottom: 2px solid #eb3737;
    width: 180px;
    height: 100px;
    display: flex ;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}
.call-log-summary-box3{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;
   
    border-bottom: 2px solid #9e109e;
    width: 180px;
    height: 100px;
    display: flex ;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.call-log-text-color1{
    color: #00b83e !important;
}
.call-log-text-color2{
    color: #eb3737 !important;
}
.call-log-text-color3{
    color: #9e109e !important;
}
