.password-field {
  position: relative;
}
.password-field .password-icon {
  position: absolute;
  right: 16px;
  top: 38px;
  cursor: pointer;
}
/* --------Password reset----- */
.verification_code {
  column-gap: 8px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 8px;
  padding-bottom: 8px;
}
.verification_code .verify-field .MuiInputBase-input {
  text-align: center;
}
