#ticket-manage-tab-top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ticket-manage-button{
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px!important;
    margin-right: 20px !important;
}