.refresh{
    height: 30px;
    /* margin-top:20px !important; */
    background-color: rgba(128, 128, 128, 0.178) !important;
    color: black !important;
    border: 0 !important;
}
.pagination1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
