body {
  margin: 0;
  padding: 0;
  color: #121828;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow: scroll;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
  border-radius: 10px;
}

a {
  text-decoration: none;
}

*:not(.fas, .fab, .fal) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
